<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TNB Search</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <header>

    </header>

    <main>
        <div class="center-up">
            <img src="/img/logo.png"/>
        </div>
        <div class="md-form input-group center">

            <input id="search-input" type="search" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
            <button id="search-btn" class="btn btn-primary btn-lg" type="button">Go!</button>
            </span>


        </div>
        <!--<div class="center-down">-->
            <!--<div class="btn-group">-->
                 <!--<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Small button <span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li>1</li>-->
                    <!--<li>1</li>-->
                    <!--<li>1</li>-->

                <!--</ul>-->
            <!--</div>-->
            <!--<div class="btn-group">-->
                <!--<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Small button <span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li>1</li>-->
                    <!--<li>1</li>-->
                    <!--<li>1</li>-->

                <!--</ul>-->
            <!--</div>-->
            <!--<div class="btn-group">-->
                <!--<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Small button <span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li>1</li>-->
                    <!--<li>1</li>-->
                    <!--<li>1</li>-->

                <!--</ul>-->
            <!--</div>-->

        <!--</div>-->
    </main>

    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/tether.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>